* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.board {
  margin: 0;
  width: 42vw;
  border: 0.2vw solid black;
  box-sizing: content-box;
  padding-bottom: 1.68vw;
}

.row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.square {
  position: relative;
  height: 0;
  width: 11.5%;
  padding-bottom: 11.5%;
}

.piece,
.promotion-piece {
  width: 4.83vw;
}

.edge-horizontal {
  width: 11.5%;
  text-align: center;
}

.edge-vertical {
  display: flex;
  height: 1.68vw;
  width: 4%;
  justify-content: center;
  align-items: center;
}

.edge-container {
  font-size: 0;
  width: 5vw;
  height: 30vw;
  border: 0.2vw solid black;
  box-sizing: content-box;
}

.edge-container[data-player='1'] {
  margin-right: 1vw;
}

.edge-container[data-player='2'] {
  margin-left: 1vw;
}

.card {
  border: 0.1vw solid black;
  width: 50%;
  background-color: white;
  text-align: center;
  position: relative;
  top: -32vw;
  left: 10.4vw;
  height: 20vw;
}

.square.check {
  border: 0.2vw solid rgba(255, 0, 0, 0.7);
  padding-bottom: 4.43vw;
}

.piece.check {
  position: relative;
  top: -0.2vw;
  left: -0.2vw;
}

.board .row:nth-child(2n-1) .square:nth-child(2n),
.board .row:nth-child(2n) .square:nth-child(2n-1) {
  background-color: #e5d2b2;
}

.board .row:nth-child(2n-1) .square:nth-child(2n-1),
.board .row:nth-child(2n) .square:nth-child(2n) {
  background-color: #7f401d;
}

.possible {
  background: #8fcbcf7e;
  border-radius: 50%;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 35%;
  right: 35%;
}

.promotion {
  background-color: #f8f8f8;
  border: 0.15vw solid #c8c8c8;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  align-items: center;
  width: 4.83vw;
}

.promotion[data-player='1'] {
  top: -39.2vw;
}

.promotion[data-player='2'] {
  bottom: 19.9vw;
}

.captured {
  display: inline-block;
  width: 2.5vw;
}

.promotion-piece {
  vertical-align: middle;
  cursor: pointer;
}

.promotion-piece[data-order='0'] {
  animation: fadein 0.3s 0.1s backwards;
}

.promotion-piece[data-order='1'] {
  animation: fadein 0.3s 0.2s backwards;
}

.promotion-piece[data-order='2'] {
  animation: fadein 0.3s 0.3s backwards;
}

.promotion-piece[data-order='3'] {
  animation: fadein 0.3s 0.4s backwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
