* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 40%;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.square {
  position: relative;
  height: 0;
  width: 12.25%;
  padding-bottom: 12.25%;
}

.edge-horizontal {
  width: 12.25%;
  text-align: center;
}

.edge-vertical {
  display: flex;
  width: 2%;
  justify-content: center;
  align-items: center;
}

.container .row:nth-child(2n-1) .square:nth-child(2n),
.container .row:nth-child(2n) .square:nth-child(2n-1) {
  background-color: #e5d2b2;
}

.container .row:nth-child(2n-1) .square:nth-child(2n-1),
.container .row:nth-child(2n) .square:nth-child(2n) {
  background-color: #7f401d;
}

.possible {
  background: #8fcbcf7e;
  border-radius: 50%;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 35%;
  right: 35%;
}
