* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color:transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  margin: 0;
  padding: 0;
  touch-action: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  cursor: default;
  height: 100%;
}

body {
  background: #ada996;
  background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  padding: 1% 0;
  font-weight: 100;
  font-style: italic;
}

button {
  font-family: inherit;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.board {
  width: 85vh;
  height: 85vh;
  box-sizing: content-box;
  background-color: rgb(53, 28, 8);
  color: white;
}

.row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.row.top {
  height: 4%;
}

.square {
  position: relative;
  height: 0;
  width: 11.5%;
  padding-bottom: 11.5%;
}

.piece,
.promotion-piece {
  width: 9.775vh;
}

.edge-horizontal {
  width: 11.5%;
  text-align: center;
}

.edge-vertical {
  display: flex;
  width: 4%;
  justify-content: center;
  align-items: center;
}

.edge-container {
  background-color: white;
  font-size: 0;
  width: 12vh;
  min-height: 60vh;
  border: 2px solid black;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;

}

.edge-container {
  margin: 0 2vh;
}

.card {
  color: black;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  position: relative;
  bottom: 65vh;
  padding-bottom: 2vh;
  animation: fadein 0.3s, moveup 0.5s;
}

.card h2 {
  font-size: 3rem;
  padding-top: 1.5vw;
}

.card p {
  font-size: 2rem;
}

.play-again {
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: #f14e4e;
  outline:none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  font-size: 1.2rem;
  margin-top: 4vw;
}

.play-again:hover {
  border-color: rgb(0, 0, 0);
  background-color: #8fed92;
  color: #000000;
}

.play-again-side {
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: #f14e4e;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  outline:none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  font-size: 1rem;
  margin-left: 2vh;
  margin-top: 1vh;
  width: 12vh;
}

.play-again-side:hover {
  border-color: rgb(0, 0, 0);
  background-color: #8fed92;
  color: #000000;
}

i.fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding-right: 0.4vw;
  cursor: pointer;
}

.square.check {
  border: 3px solid rgba(255, 0, 0, 0.7);
  padding-bottom: 0;
  height: 9.775vh;
}

.piece.check {
  position: relative;
  top: -3px;
  left: -3px;
}

.board .row:nth-child(2n-1) .square:nth-child(2n),
.board .row:nth-child(2n) .square:nth-child(2n-1) {
  background-color: #e5d2b2;
}

.board .row:nth-child(2n-1) .square:nth-child(2n-1),
.board .row:nth-child(2n) .square:nth-child(2n) {
  background-color: #7f401d;
}

.possible {
  background: #8fcbcf7e;
  border-radius: 50%;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 35%;
  right: 35%;
}

.promotion {
  background-color: #f8f8f8;
  border: 3px solid #c8c8c8;
  position: relative;
  z-index: 1;
  width:  9.775vh;
  height: 39.1vh;
  box-sizing: border-box;
}

.promotion[data-player='1'] {
  bottom: 78.2vh;
}

.promotion[data-player='2'] {
  bottom: 39.1vh;
}

.captured {
  width: 6vh;
}

.promotion-piece {
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  left: -3px;
  top: -3px;
}

.indicator {
  width: 5vh;
  height: 5vh;
  border: 1px solid rgb(53, 28, 8);
  float: right;
  margin-top: 2vh;
  margin-right: 2vh;
  transition: background-color 0.2s linear;
}

.indicator[data-player='1'] {
  background-color: white;
}

.indicator[data-player='2'] {
  background-color: black;
}

.active {
  position: fixed;
  left: 0;
  top: 0;
  will-change: transform;
  z-index: 1;
  pointer-events: none;
}

.promotion-piece[data-order='0'] {
  animation: fadein 0.3s 0.1s backwards;
}

.promotion-piece[data-order='1'] {
  animation: fadein 0.3s 0.2s backwards;
}

.promotion-piece[data-order='2'] {
  animation: fadein 0.3s 0.3s backwards;
}

.promotion-piece[data-order='3'] {
  animation: fadein 0.3s 0.4s backwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveup {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}
